@model RecursosHumanos.Models.Empleados
@{
    ViewBag.Title = "Totalizar";
}

<h2>Totalizar</h2>

Total de la nomina es: @ViewBag.TotalSalario <br />
Total de empleados es: @ViewBag.TotalEmpleados

<a href="Empleados/LlenarCombo" class="bt">Entrar</a>