@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
@Styles.Render("~/Content/estilos.css")

<div style="margin-top: 20rem" class="contenedor-iconos contenedor">
    <div class="modulo">
        <a href="@Url.Action("Mantenimiento")">
            <i class="fas fa-users-cog"></i>
            <p>Mantenimiento</p>
        </a>
    </div>

    <div class="modulo">
        <a href="@Url.Action("Informes")">
            <i class="fas fa-clipboard-list"></i>
            <p>Informes</p>
        </a>
    </div>

    <div class="modulo">
        <a href="@Url.Action()">
            <i class="fas fa-times"></i>
            <p>Salir</p>
        </a>
    </div>

</div>